<%- model_class = Book -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>
  <% if can? :create, @book %>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_book_path,:class => 'btn btn-success' %>
  <%end%>

  <br>
  <br>
  <table class="table table-hover">
    <tr class="success">
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Cathegory</th>
      <th>Year</th>
      <th> </th>
    </tr>

  <% @book.each do |book| %>
    <tr class="active">
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.author.try(:name).titleize %></td>
      <td><%= book.description %></td>
      <td><%= book.cathegory.map { |name| name.cathegory_name }.join(', ') %></td>
      <td><%= book.year %></td>
      
    <td>
    <% if can? :update, book %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_book_path(book), :class => 'btn btn-primary btn-xs' %>
    <%end%>

    <%if can? :destroy, book %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),book_path(book),:method => :delete,
      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-xs btn-danger' %>
    <%end%>
    </td>
    </tr>
  <% end %>
  </table>