<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
 
<p>
  <strong>Author:</strong>
  <%= @book.author.try(:name) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>
<p>
<%= image_tag @book.cover.url(:medium) %>
</p>
<%= link_to 'Back', books_path %>
<% if can? :update, @book %>
<%= link_to 'Edit', edit_book_path(@book) %>
<%end%>